<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <style>
        body {
            background-color: #FFC0CB;
        }



        h1 {
            font-family: monospace;
        }

        .error {
            color: red;
        }
    </style>
    <h1><strong> Anna's shop :-) </strong></h1>
    <h2><strong> Dodaj produkt ! </strong></h2>
</head>
<body>

   <h2 th:text="${error}" class="error"></h2>
   <h2 th:text="${errorDescription}" class="error"></h2>

   <div th:switch="${error}" class="error">
       <p th:case="'nazwa'">Taki produkt już jest!</p>
       <p th:case="'cena'">Cena jest błędna</p>
   </div>



    <form action="AniSklep">
      <h2> Nazwa produktu </h2><input name="name"/>
      <h2>Kategoria</h2>
        <select name="category">
        <option value="ubrania">Ubrania</option>
        <option value="narzedzia">Narzędzia</option>
      <option value="ksiazki">Książki</option>
    <option value="bizuteria">Biżuteria</option>
    <option value="inne">Inne</option>
     </select>
    <h2>Cena</h2> <input name="price"/>
    <h2>Opis</h2> <textarea name="description" rows="10" cols="50"></textarea>
    <input type="submit"/>
    </form>
<div>
    Dziękujemy, Twój produkt pojawi się w ofercie naszego sklepu ! <br/>

</div>
</body>
</html>