<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #FFEFD5;
        }
        /*div {*/
            /*background-color: #C0C0C0;*/
            /*text-align: left;*/
        /*}*/
    </style>
    <h1><strong>Podsumowanie zakupów </strong></h1>
</head>
<body>
        <form action= "addClient">
    <h2> Imię </h2><input name="imie"/>
    <h2>Nazwisko</h2> <input surname="nazwisko"/>
    <h2>Ulica</h2> <input street="ulica"/>
    <h2>Nr domu</h2> <input number="nrDomu"/>
    <h2>Nr mieszkania</h2> <input numberMieszkania="nrMieszkania"/>
    <h2>Kod</h2> <input code="kod"/>
    <h2>Miasto</h2> <input city="miasto"/>
    <input type="submit"/>
</form>
<!--<div>-->
<!--<h2> Kwota do zapłaty + ${kwotaZaZakupy} </h2><br/></div>-->
</body>
</html>