<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        body {
            background-color: #FFEFD5;
        }
        div {
            background-color: #C0C0C0;
            text-align: left;
        }
    </style>
    <h1><strong>Podsumowanie zakupów </strong></h1>
</head>
<body>
        <form action= "addClient">
    <h3> Imię </h3><input name="imie"/>
    <h3>Nazwisko</h3> <input surname="nazwisko"/>
    <h3>Ulica</h3> <input street="ulica"/>
    <h3>Nr domu</h3> <input number="nrDomu"/>
    <h3>Nr mieszkania</h3> <input numberMieszkania="nrMieszkania"/>
    <h3>Kod</h3> <input code="kod"/>
    <h3>Miasto</h3> <input city="miasto"/>
    <input type="submit"/>
</form>
<div>
 <p th:text= "'Kwota do zapłaty: ' + ${suma} + 'zł'" /><br/></div>
</body>
</html>